{{ define "main" }}
<div class="drop-shadow container h-100 bg-light">
  <div class="row">
    <section id="main" class="offset-md-2 col-md-8">
      <h1 id="title" class="mt-5 mb-5">{{ .Title }}</h1>

      <article id="row bg-light h-100 pl-2 pr-2">
          {{ .Content }}
      </article>
    </section>
  </div>
  <div class="row mt-5">
    <aside id="meta" class="text-right mt-5 col-12">
        <section class="">
          <p id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </p>
          <p id="wordcount"> {{ .WordCount }} Words </p>
        </section>
      
        <!-- These link to articles on either side -->
        <!-- <div>
            {{ with .PrevInSection }}
              <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
            {{ with .NextInSection }}
              <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
            {{ end }}
        </div> -->
    </aside>
  </div>
</div>
{{ end }}