<!doctype html>
<html lang="en">
<head>

  <title>{{ .Title }}</title>

  {{ partial "meta.html" . }}

</head>
<body>

    <h1 style="font-family: 'Annie Use Your Telescope', cursive; text-shadow: #101010 2px 2px;" class="text-center display-4 mt-5 mb-5 text-light">{{ .Title }}</h1>

    <div class="drop-shadow container h-100 w-100">
      
      <div class="row bg-light h-100">
        <div class="col-sm-12 mt-5">
        <!-- Note that .Data.Pages is the equivalent of .Site.Pages on the homepage template. -->
        {{ range first 10 .Data.Pages }}
            {{ .Render "summary" }}
        {{ end }}
        </div>
      </div>
    </div>

      {{ partial "bootstrap_js.html" . }}
</body>
</html>