html {
    height: 100%;
}

body {
  font-size: 1.3rem;
  font-family: 'Scope One', serif;
}

#title {
  font-size: 2rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 1.7rem;
}

h6 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.7rem;
}
h1 {
  font-size: 1.8rem;
}

li p {
  margin-bottom: 1.4rem;
  line-height: 1.6rem;
}

li {
  margin-bottom: 1.4rem;
  line-height: 1.7rem;
}

p {
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.drop-shadow {
  -webkit-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
}

body {

  background-image: url(cartoons/meowers/pattern/outline/meowers_outline.svg);
  background-position: top left;
  background-repeat: repeat;
  background-position: top left;
  background-size: 30%, cover;
  background-attachment: fixed;
  -webkit-background-size: 30%, cover;
  -moz-background-size: 30%, cover;
  -o-background-size: 30%, cover;
  background-color: #283593;

}

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}